body {
    background-color: #222222;
    color: #ffffff;
    font-size: 1em;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

a {
    color: #008d72;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul.projects {
    margin: 0;
}

ul.projects li {
    padding: 0 0 .4em 0;
    margin: 0;
}

img.projects {
    max-height: 3in;
    max-width: 4in;
    border-radius: 2em;
    float: left;
    margin: 0 2em 0 0;
}

.filled {
    color: #222222;
    background-color: #dddddd;
}

.container { padding: 10px; }

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.box {
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 3in;
    min-width: 20px;
}

.fbox {
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 20px;
}

.b1 { order: 1; }

.b2 { order: 2; }

.b3 { order: 3; }
