body {
    background-color: #222222;
    color: #ffffff;
    font-size: 1em;
}

p { font-size: 1.2em; }

a {
    color: #008d72;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

footer {
    margin: 1em 0 0 0;
    background: #111111;
    border: 1px solid #a333a3;
    margin: 3px;
}

footer a { color: #ffffff; }

nav {
    font-family: verdana, sans-serif;
    list-style: none;
    padding: 0 0 0 0;
    margin: 1em 0 0 1em;
    display: inline-block;
    float: left;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #111111;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

ul.nav {
    margin: 0;
    list-style-type: none;
    display: inline;
}

ul.nav li { margin: 0 1em 0 0; display: inline; }
ul.nav li a { color: #dddddd; }
ul.main li { display: inline; }
ul.main li a { color: #42fafa; }
ul.projects li { padding: 0 0 .4em 0; }

img.projects {
    max-height: 3in;
    max-width: 4in;
    border-radius: 2em;
    float: left;
    margin: 0 2em 0 0;
}

.filled {
    color: #222222;
    background-color: #dddddd;
}

.container { padding: 10px; }

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.box {
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 3in;
    min-width: 20px;
}

.fbox {
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 20px;
}

.b1 { order: 1; }
.b2 { order: 2; }
.b3 { order: 3; }

.main-section {
    position: absolute;
    height: 100%;
    width: 99%;
}

.hamburger {
    background: none;
    line-height: 1.5em;
    padding: 0 .5em 0 .5em;
    color: #dddddd;
    border: 0;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
}

.grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
}

.projects-info-grid {
    grid-row: 1;
    grid-column: 1;
}

.project-preview-grid {
    grid-row: span 3;
    grid-column: 2;
}

.main-info-grid {
    grid-row: 2;
    grid-column: 1;
}

.certs-info-grid {
    grid-row: 3;
    grid-column: 1;
}

