body {
    background-color: #222222;
    color: #ffffff;
    font-size: 1em;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

a {
    color: #008d72;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul.projects {
    margin: 0;
}

ul.projects li {
    padding: 0 0 .4em 0;
    margin: 0;
}

img.projects {
    max-height: 3in;
    max-width: 4in;
    border-radius: 2em;
    float: left;
    margin: 0 2em 0 0;
}

.filled {
    color: #222222;
    background-color: #dddddd;
}

.container { padding: 10px; }

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.box {
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 3in;
    min-width: 20px;
}

.fbox {
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 20px;
}

.b1 { order: 1; }

.b2 { order: 2; }

.b3 { order: 3; }

.main-text {
	-webkit-animation: main-text 0.7s linear both;
	        animation: main-text 0.7s linear both;
}

@-webkit-keyframes main-text {
  0% {
    -webkit-filter: blur(14px);
            filter: blur(14px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes main-text {
  0% {
    -webkit-filter: blur(14px);
            filter: blur(14px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.animate-selected {
	-webkit-animation: animate-selected 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate both;
	        animation: animate-selected 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate both;
}

@-webkit-keyframes animate-selected {
  0% { background: #19dcea; }
  100% { background: #b22cff; }
}

@keyframes animate-selected {
  0% { background: #19dcea; }
  100% { background: #b22cff; }
}