/*create defs for the body*/
body {
	margin: 0;
	padding: 0px;
	font-size: 1.3em;
	background-color: #222222;
	color: #000000;
}

/*header defs*/
header {
    font-family: verdana, sans-serif;
    font-size: 2em;
    color: #eeeeee;
    border: 1px solid #000000;
    background-image: url(../media/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
}

/*apply the nav look*/
nav {
	font-family: verdana, sans-serif;
	list-style: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: inline-block;
	float: left;
	text-align: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	font-size: 0.65em;
}

ul.nav {
	padding: 0;
	margin: 0 1em 0 1em;
	list-style-type: none;
	display: block;
}

ul.nav li {
	padding: 0 0 .5em 0;
}

video {
	margin: 0 auto;
	width: 100%;
}

article {
	font-family: verdana, sans-serif;
	color: #000000;
	font-size: 1em;
}

footer {
	font-family: verdana, sans-serif;
	font-size: .75em;
	border: 1px solid #000000;
	background-color: #cd8d00;
	padding: 0em 0em 0em 1em;
	text-align: left;
}

/*start def of links*/
a {
    text-decoration: none;
	color: #333333;
}

a:hover {
	text-decoration: underline;
}

ul.nav li a {
	color: #eeeeee;
}

/*set color & size for the header 1*/
h1 {
	font-size: 2em;
	color: #0014a3;
}

/*set color for the header 2*/
h2 {
	color: #0014a3;
}

/*misc stuff:*/
img.size {
	margin: 0 auto;
	max-width: 150px;
	max-height: 150px;
	width: 100%;
}

img.append {
	display: block;
	min-height: 1in;
	max-height: 2.7in;
	margin: 10% auto;
}

img.center {
	display: block;
	padding: .5em 0;
	min-height: 1in;
	max-height: 2.3in;
	max-width: 100%;
	margin: auto;
	bottom: 0;
}

/*make the images smaller on phones*/
@media only screen and (max-width: 600px) {
    img.center {
		display: block;
		padding: .5em;
		min-height: 1in;
		max-height: 1.3in;
		margin: auto;
	}
	
	img.append {
		display: block;
		min-height: 1in;
		max-height: 1.4in;
		margin: auto;
	}
}

/*curve the edges of boxes/imgs/video*/
.curve {
	border-radius: 1.2em;
}

/*content parent*/
.content {
	padding: 10px;
	margin: 0 0 1em 0;
}

/*center the text*/
.center-text {
	text-align: center;
}

/*create the hamburger icon*/
.hamburger {
	background: none;
	line-height: 1.5em;
	padding: 0 .5em 0 .5em;
	color: #eeeeee;
	border: 0;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

/*end misc stuff*/

/*FLEX*/

/*flex parent*/
.flex_parent_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/*box*/
.box {
	padding: 15px;
	margin: 10px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 2.5in;
	min-width: 1px;
	border: 3px solid #000;
	background-color: #ffbd2b;
}

/*footer box*/
.fbox {
	padding: 10px;
	margin: 10px;
	background-color: #cd8d00;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 3in;
	min-width: 1px;
	font-size: .8em;
}

/*box for the heading of sections*/
.header {
	background-color: #cd8d00;
	border: 3px solid #000;
	font-size: 3em;
	color: #0014a3;
}

/*set the order*/
.box1 {
	order: 1;
}

/*set order*/
.box2 {
	order: 2;
}

/*set order*/
.box3 {
	order: 3;
}

/*set order*/
.fbox1 {
	order: 1;
	flex-grow: 1;
}

/*set order*/
.fbox2 {
	order: 2;
}

/*set order*/
.fbox3 {
	order: 3;
}

/*footer color*/
.fc {
	color: #000000;
}
/*end the flex here*/